.master-container {
    padding: 20px;
}

.container {
    display: flex;
    gap: 10px;
}

.container2 {
    display: flex;
    gap: 10px;
    font-size: xx-large;
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

h3 {
    text-align: center;
    padding-top: 10px;
}

a {
    color: darkslategrey;
}

.seo-content {
    float: center;
    font-size: 14px;
}

.main-image {
    width: 800px;
    float: center;
    
}

.article-text {

    width: 800px;
    margin: auto;
}

.row {
    padding-top: 25px;
    padding-bottom: 25px;

}

.top {
    background-color: aliceblue;
}

.btn-primary {
    background-color: darkcyan;
    border-color: aliceblue;
}

.btn-secondary {
    background-color: darkcyan;
    color: aliceblue;

}

/* Target the contact page specifically using the ID "contact-page" */
#contact-page {
    height: 100%; /* Ensures the page is full height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Center the contact container */
#contact-page .contact-container {
    text-align: center;
}

/* Additional styles for the contact info section */
#contact-page .contact-info {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Optional card-like effect */
}